<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.bunkatusoft.explorersofsettlement"
    android:versionCode="0"
    android:versionName="pre-alpha">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".title.TitleActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
            <!-- TODO 必要ならフィルタを追加 -->
        </activity>

        <activity android:name=".field.SettlementFieldActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
            <!-- TODO 必要ならフィルタを追加 -->
        </activity>
    </application>

</manifest>
